# =====================
# Entorno virtual
# =====================
venv/
.env/

# =====================
# Base de datos
# =====================
*.db

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Carpetas que NO se suben
# =====================
app_old/

# =====================
# Modelos / diagramas
# =====================
*.png
*.jpg
*.jpeg
*.svg
